body {
	font-family: Verdana;
	width: 800px;
}

p, li {
	font-size: 12px;
}

.version {
	margin: 0 0 25px 0;
	font-size: 10px;
}

.result {
	margin: 20px 0;
	font-size: 12px;
}

label {
	display: block;
	width: 100px;
	float: left;
	text-align: right;
	padding: 0 5px;
	font-weight: bold;
}

input, label, textarea, .form_legend {
	font-family: Arial, Helvetica;
	font-size: 11px;
}

button {
	margin: 10px 0 20px 2px;
}

#estimate_form {
	float: right;
	margin: 0 15px;
	padding-left: 10px;
	width: 325px;
}

#estimate_form p {
	margin: 5px 0 0 0;
}

#tree {
	overflow: auto;
	max-height: 300px;
}

.fancytree-exp-n {
	font-style: italic;
}

.form_legend {
	margin-left: 110px;
	color: grey;
}

.form_step {
	display: inline-block;
	width: 100px;
}

h4 {
	margin: 0 0 20px 0;
}

.border-top {
	border-top: 1px dotted #000;
}

.clear {
	clear: both;
}

.padding-top {
	padding-top: 10px;
}
